root = true

[*]
end_of_line = lf
insert_final_newline = true
quote_type = single
trim_trailing_whitespace = true
charset = utf-8

[*.js,*.jsx,*.ts,*.tsx]
indent_style = space
indent_size = 2
curly_bracket_next_line = false
spaces_around_operators = true
spaces_around_brackets = inside

[{package.json,*.yml,*.cjson}]
indent_style = space
indent_size = 2
