* {
    vertical-align: baseline;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
}

body {
    overflow: hidden;
    background-color: #424242;
    color: #FFF;
}

h2 {
    font-size: 2rem;
    background-color: #333333;
    padding: 10px;
    color: #FFFFFF;
}

a {
    color: #EEEEEE;
}

a:hover {
    color: #FFFFFF;
    text-decoration: underline;
}

a:visited {
    color: #AAAAAA;
}

ul {
    padding: 10px;
    background-color: #000000;
}

li {
    margin-bottom: 10px;
}

.url {
    font-size: 1rem;
    text-decoration: none;
    display: block;
}

.description {
    color: #CCCCCC;
    font-size: small;
}

.footer {
    display: block;
    color: #9E9E9E;
    font-size: small;
}

.point {
    color: #BA68C8;
}

.author-url {
    text-decoration: none;
}

.container {
    overflow-y: hidden;
    overflow-x: scroll;
    display: flex;
    padding: 10px;
    height: 100vh;
}

.card {
    flex: none;
    width: calc(calc(100vw / 2) - 14px);
    height: calc(100vh - 96px);
}

.card:not(:first-child) {
    margin-left: 10px;
}

.list {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
    .card {
        width: calc(100vw - 20px);
    }
}

@media only screen and (min-width: 768px) {
    .card {
        width: calc(calc(100vw / 3) - 13px);
    }
}

@media only screen and (min-width: 1824px) {
    .container {
        padding: 15px;
    }
    .card:not(:first-child) {
        margin-left: 15px;
    }
    .card {
        width: calc(calc(100vw / 4) - 18.5px);
    }
}



.toggle-theme {
    cursor: pointer;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: white;
    position: absolute;
    right: 20px;
    top: 20px;
}

.toggle-theme:after {
    cursor: pointer;
    content: '';
    position: absolute;
    left: -10px;
    top: 10px;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: black;
}

/*light theme*/

.light {
    background-color: #CCCCCC;
    color: #000000;
}

.light a {
    color: #222222;
}

.light a:hover {
    color: #000000;
}

.light a:visited {
    color: #444444;
}

.light ul {
    background-color: #FFFFFF;
}

.light .description {
    color: #333333;
}

.light .footer {
    color: #555555;
}

.light .point {
    color: #BA00C8;
}