ion-toolbar ion-spinner {
  margin-right: 1em;
}

.menu-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-0 {
  padding: 0;
}

.favicon {
  padding: 0.7em 1.4em 0.7em 0;
  margin: 0;
}

.text-left {
  text-align: left;
}

.item-text {
  white-space: normal !important;
  margin: 0;
}

.item-text h2 {
  font-weight: 500;
}

.item-text p {
  color: var(--ion-color-step-550) !important;
}

.item-footer {
  text-align: left;
}

.item-footer a {
  text-decoration: none;
  margin-right: 0.5em;
  font-weight: 600;
}

.item-footer ion-icon {
  vertical-align: middle;
}

ion-icon.up-arrow {
  font-size: 24px;
  margin-left: -0.1em;
}

ion-slide.cards {
  display: block;
  text-align: left;
  height: 100%;
}

.slide-content {
  width: 100vw;
  height: calc(100vh - 56px - 48px);
}

.swiper-slide img.card-img {
  height: 30vh;
  object-fit: cover;
  width: 100%;
}
.sub-tag {
  height: 1.6em;
}

.w-100 {
  width: 100%;
}
.text-center {
  text-align: center;
}
.block {
  display: block;
}

ion-segment-button img {
  max-width: 2em;
  border-radius: 1em;
  filter: grayscale(100%);
}
ion-segment-button:hover img,
ion-segment-button.segment-button-checked img {
  filter: grayscale(0);
}

.about ion-label p {
  white-space: break-spaces;
}

p strong,
blockquote strong {
  color: #ef8769;
}

blockquote {
  font-family: Georgia, serif;
  font-size: 18px;
  font-style: italic;
  width: 100%;
  margin: 0.25em 0;
  margin-left: 0;
  padding: 0.35em 40px;
  line-height: 1.45;
  position: relative;
  opacity: 0.8;
}

blockquote:before {
  display: block;
  padding-left: 10px;
  content: '\201C';
  font-size: 80px;
  position: absolute;
  left: 0;
  top: -20px;
  color: #999999;
}

.inline-button {
  --padding-end: 0;
  --padding-start: 0;
  font-size: 18px;
  text-transform: none;
  margin: 0;
  margin-top: -0.4em;
  text-decoration: underline 2px;
}

.ios .inline-button {
  margin-top: -0.7em;
}
