ion-toolbar ion-spinner {
    margin-right: 1em;
}

.menu-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.theme-toggle {
    color: var(--ion-color-theme-toggle);
}

.hackernews {
    --indicator-color-checked: var(--ion-color-hackernews);
    --color-checked: var(--ion-color-hackernews);
    --ion-color-primary: var(--ion-color-hackernews);
}

.github {
    --indicator-color-checked: var(--ion-color-github);
    --color-checked: var(--ion-color-github);
    --ion-color-primary: var(--ion-color-github);
}

.devto {
    --indicator-color-checked: var(--ion-color-devto);
    --color-checked: var(--ion-color-devto);
    --ion-color-primary: var(--ion-color-devto);
}

.echojs {
    --indicator-color-checked: var(--ion-color-echojs);
    --color-checked: var(--ion-color-echojs);
    --ion-color-primary: var(--ion-color-echojs);
}

.reddit {
    --indicator-color-checked: var(--ion-color-reddit);
    --color-checked: var(--ion-color-reddit);
    --ion-color-primary: var(--ion-color-reddit);
}

.medium {
    --indicator-color-checked: var(--ion-color-medium);
    --color-checked: var(--ion-color-medium);
    --ion-color-primary: var(--ion-color-medium);
}

.producthunt {
    --indicator-color-checked: var(--ion-color-producthunt);
    --color-checked: var(--ion-color-producthunt);
    --ion-color-primary: var(--ion-color-producthunt);
}

.redditprogramming {
    --indicator-color-checked: var(--ion-color-redditprogramming);
    --color-checked: var(--ion-color-redditprogramming);
    --ion-color-primary: var(--ion-color-redditprogramming);
}

.datatau {
    --indicator-color-checked: var(--ion-color-datatau);
    --color-checked: var(--ion-color-datatau);
    --ion-color-primary: var(--ion-color-datatau);
}

.growthhackers {
    --indicator-color-checked: var(--ion-color-growthhackers);
    --color-checked: var(--ion-color-growthhackers);
    --ion-color-primary: var(--ion-color-growthhackers);
}

.p-0 {
    padding: 0;
}

.favicon {
    padding: .7em 1.4em .7em 0;
    margin: 0;
}

.item-text {
    white-space: normal !important;
    margin: 0;
}

.item-text h2 {
    font-weight: 500;
}

.item-text p {
    color: var(--ion-color-step-550) !important;
}

.item-footer a {
    text-decoration: none;
    margin-right: 0.5em;
    font-weight: 600;
}

.item-footer ion-icon {
    vertical-align: middle;
}

ion-icon.up-arrow {
    font-size: 24px;
    margin-left: -0.1em;
}
